.custom-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.custom-alert {
    max-height: 75vh; 
    overflow-y: auto; 
    background: #fff;
    padding: 20px;
    border-radius: 5vh;
    max-width: 70%;
    text-align: center;
    color: #778899;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-alert::-webkit-scrollbar {
    width: 0; 
}

.custom-alert button {
    background-color: #778899;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.custom-alert button:hover {
    background-color: #5f6a74;
}